body {
   font: italic small-caps bold 16px/2 cursive;
    background-image: url('Waffle\ hello.gif'); /* Add your cartoon waffle background image here */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.527);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2em;
    color: #fcfcfc;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #ffcc00;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff0000;
}

#thankyou {
    display: none;
    text-align: center;
}

#thankyou h1 {
    font-size: 2.5em;
    color: #ffffff;
}
